<a href="https://colab.research.google.com/github/eliyanto29/My-Academics-Paper-On-Data-Science/blob/master/Rough_Set_Note_Book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Information Sistem Tabel

In [ ]:
Age    =['16-30', '16-30', '31-45', '31-45', '46-60', '16-30', '46-60']
LEMS   =['50', '0', '1-25', '1-25', '26-49', '26-49', '26-49']
Walk   =['yes', 'no', 'no', 'yes', 'no', 'yes', 'no']

data = {'Age':Age, 'LEMS':LEMS, 'Walk':Walk}
df_0   = pd.DataFrame(data)
df_0

     Age   LEMS Walk
0  16-30     50  yes
1  16-30      0   no
2  31-45   1-25   no
3  31-45   1-25  yes
4  46-60  26-49   no
5  16-30  26-49  yes
6  46-60  26-49   no

Indiscernibility

In [ ]:
df = df_0[['Age','LEMS']]

df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()


df_baru=[]
for i in df_r:
  dfb=list(i)
  df_baru.append(dfb)

df_baru
print(df_baru)

[[1], [5], [0], [2, 3], [4, 6]]

Upper Approximation

In [ ]:
X=[[0],[3],[5]]
X

[[0], [3], [5]]

In [ ]:
df_baru

[[1], [5], [0], [2, 3], [4, 6]]

In [ ]:
upper_app=[]
for x in X:
  #print('nilai x')
  x=x[0]
  #print(x)
  
  for d in df_baru:
    #print('nilai d')
    #print(d)
    if (x in d):
      #print('yes')
      upper_app.append(d)
      #print('=================')
    else :
      upper_app
      #print('no') 
      #print('=================')

In [ ]:
upper_app
upper_app2 = sum(upper_app, [])

upper_app=[]
for u in upper_app2:
  ux=[u]
  upper_app.append(ux)

upper_app

[[0], [2], [3], [5]]

Lower Approximation

In [ ]:
lower_app=[]
for x in X:
  if (x in df_baru):
    lower_app.append(x)
  else:
    lower_app

In [ ]:
lower_app
lower_app2 = sum(lower_app, [])

lower_app=[]
for l in lower_app2:
  lx=[l]
  lower_app.append(lx)

lower_app

[[0], [5]]

Boundary Region

In [ ]:
boundary_region=[]
for i in upper_app:
  if (i in lower_app):
    boundary_region
  else:
    boundary_region.append(i)

In [ ]:
boundary_region

[[2], [3]]

Outside region

In [ ]:
u=np.arange(0,len(df_0))
U=[]
for ui in u:
  ux=[ui]
  U.append(ux)
U

[[0], [1], [2], [3], [4], [5], [6]]

In [ ]:
upper_app

[[0], [2], [3], [5]]

In [ ]:
outside_region=[]
for i in U:
  if (i in upper_app):
    outside_region
  else:
    outside_region.append(i)

In [ ]:
outside_region

[[1], [4], [6]]

PART2

In [ ]:
x   =['A', 'A', 'P', 'A', 'S', 'S']
y   =['P', 'P', 'P', 'R', 'N', 'N']
z   =['A', 'S', 'A', 'A', 'S', 'S']
w   =[3, 1, 1, 2, 2, 2]
D   =[1, 1, 1, 2, 2, 1]

data = {'x':x, 'y':y, 'z':z, 'w':w, 'D':D}
df_1   = pd.DataFrame(data)
df_1

   x  y  z  w  D
0  A  P  A  3  1
1  A  P  S  1  1
2  P  P  A  1  1
3  A  R  A  2  2
4  S  N  S  2  2
5  S  N  S  2  1

In [ ]:
P   =[1, 2, 3, 1, 1, 4, 4, 2]
Q   =[5, 7, 5, 7, 5, 6, 7, 7]
R   =[8, 10, 11, 11, 8, 9, 10, 10]

data = {'P':P, 'Q':Q, 'R':R}
df_2   = pd.DataFrame(data)
df_2

   P  Q   R
0  1  5   8
1  2  7  10
2  3  5  11
3  1  7  11
4  1  5   8
5  4  6   9
6  4  7  10
7  2  7  10

In [ ]:
df = df_2

df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()


df_baru=[]
for i in df_r:
  dfb=list(i)
  df_baru.append(dfb)

R=df_baru
print(R)

[[0, 4], [3], [1, 7], [2], [5], [6]]

In [ ]:
#Check P
df = df_2[['Q','R']]

df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()


df_baru=[]
for i in df_r:
  dfb=list(i)
  df_baru.append(dfb)

df_baru
print(df_baru)

[[0, 4], [2], [5], [1, 6, 7], [3]]

P idispensible(tidak bisa dihapus)

In [ ]:
#Check Q
df = df_2[['P','R']]

df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()


df_baru=[]
for i in df_r:
  dfb=list(i)
  df_baru.append(dfb)

df_baru
print(df_baru)

[[0, 4], [3], [1, 7], [2], [5], [6]]

Q is dispensible [bisa dihapus]

In [ ]:
#Check R
df = df_2[['P','Q']]

df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()


df_baru=[]
for i in df_r:
  dfb=list(i)
  df_baru.append(dfb)

df_baru
print(df_baru)

[[0, 4], [3], [1, 7], [2], [5], [6]]

Q is dispensible [bisa dihapus]

Jadi, Hasil Reductnya adalah P,Q atau P,R

Kemudian Hasil Corenya adalah Irisan Dari Keduanya Yaitu P

## Core And Reduct

In [ ]:
def indiscrenibility(df):
  df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()
  df_baru=[]
  for i in df_r:
    dfb=list(i)
    df_baru.append(dfb)
  return df_baru

In [ ]:
iris_df=pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
kolom=list(iris_df.columns)
kolom

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [ ]:
R=indiscrenibility(iris_df)

In [ ]:
def Core_and_Reduct(df):
  R=indiscrenibility(df)
  kolom=list(df.columns)
  indis_vector=[]
  for k in kolom:
    k=str(k)
    df2=df.drop(columns=[k])
    K=indiscrenibility(df2)
    if (K==R):
      indis=True
      indis_vector.append(indis)
    else:
      indis=False
      indis_vector.append(indis)
  indeks = []
  for i in range(len(indis_vector)):
    if indis_vector[i] == False:
      indeks.append(i)
  indis_var = [kolom[i] for i in indeks] 
  df_CR=df[indis_var]
  return df_CR

In [ ]:
Core_and_Reduct(df_2)

   P
0  1
1  2
2  3
3  1
4  1
5  4
6  4
7  2